.skillicon:hover {
    transform: scale(1.2);
}

.skillicon {
    transition: 150ms linear
}


@media (max-width: 680px) {
    .skillgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 330px) {
    .skillgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 681px) {
    .skillgrid {
        display: flex;
        gap: 20px;
    }
}